.page {
    width: 100%;
    margin: 0 auto;
    font-family: 'Inter', Helvetica, sans-serif;
    background-color: black;
    position: relative;
}
button:hover {
    cursor: pointer;
    opacity: .6;
}