.popup__button-save {
    height: 50px;
    border-radius: 2px;
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
}
@media screen and (max-width:950px) {
    .popup__button-save {
        font-size: 15px;
    }
}
.popup__button-save:disabled {
    background-color: white;
    opacity: .2;
    border: 1px solid #000000;
    color: black;
}