@import url(./_plus/profile__add-button_plus.css);
.profile__add-button {
    width: 150px;
    height: 50px;
    margin-left: auto;
    border: white solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
    border-radius: 2px;
}
@media screen and (max-width: 950px) {
    .profile__add-button {
        margin: auto;
        width: 100%;
    }
}