.popup__field {
    border: none;
    border-bottom: 1px solid;
    border-color: rgba(0,0,0, .2);
    font-size: 14px;
    line-height: 17px;
    height: 40px;
}
@media screen and (max-width:950px) {
    .popup__field {
        font-size: 12px;
    }
}
.popup__field:invalid {
    border-bottom: 1px solid #FF0000;
}